<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Prometheus.Client" version="1.4.2" targetFramework="net45" />
  <package id="Prometheus.Client.MetricServer" version="1.2.3" targetFramework="net45" />
  <package id="protobuf-net" version="2.3.7" targetFramework="net45" />
</packages>