name: Build

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # - name: Setup GHPR
      #   run: dotnet nuget add source -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }}
      #     --store-password-in-clear-text -n github "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
      - name: Build
        run: dotnet build -c Release
